nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(113, 77, 29);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(32, 32, 33);
    margin-bottom: 25px;
    font-family: sans-serif;
}

.chirwa {
    background-image: url(home\ page.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.coffee img {
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 80px;
    
}

.slideshow {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}
.whole{
    animation: coffee 10s ease infinite;
    width: calc(300px * 5);
}
@keyframes coffee {
    20%{ margin-left: 0px; }
    40%{ margin-left:calc(-300px*1); }
    60%{ margin-left:calc(-300px*2); }
    80%{ margin-left:calc(-300px*3); }
    100%{ margin-left:calc(-300px*4); }

}
body{
    background-color:rgb(70, 50, 23)
}
footer{
    background-color: rgb(113, 77, 29);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.catalouge img{
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: #010000;
}
.catalouge{
    width: 300px;
    background-color: burlywood;
    margin: 10px;
    padding: 10px;
    border: #010000;
    border-radius: 50px;
}

.cata{
    display:flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.catalouge:hover{
    background-color: rgb(236, 233, 233);
    transition: 1s all ease;
    transform: scale(1.10);
}
.catalouge{
    text-align: center;
}
.cata a{
    text-decoration: none;
    background-color: rgb(0, 4, 7);
    color: #fff;
    padding: 10px;
    display: block;
    margin: 20px 100px;
}
.search{
    margin-top: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
}
.search input{
    width: 350px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 5px rgb(0, 0, 0,0.2);
}
