nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 100%;
    height: auto;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover{
    background-color: rgb(17, 69, 104);
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: rgb(240, 240, 245);
    margin-bottom: 25px;
    font-family: italic;
    text-size-adjust: 50px;
}

.chirwa {
    background-image: url(inspo\ 3.jpg);
    background-size: 100% 100%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.coffee img {
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 10px;

}

.slideshow {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    margin:auto;
}

.whole {
    animation: coffee 10s ease infinite;
    width: calc(300px * 5);
}

@keyframes coffee {
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-300px*1);
    }

    60% {
        margin-left: calc(-300px*2);
    }

    80% {
        margin-left: calc(-300px*3);
    }

    100% {
        margin-left: calc(-300px*4);
    }

}

body {
    background-color: rgb(62, 42, 15);
}

footer {
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.catalouge img {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: #010000;
}

.catalouge {
    width: 300px;
    background-color:  rgb(138, 101, 53);
    margin: 10px;
    padding: 10px;
    border: #010000;
    border-radius: 50px;
}

.cata {
    padding: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.catalouge img:hover {
    background-color: rgb(236, 233, 233);
    transition: 1s all ease;
    transform: scale(1.10);
    border-radius: 20px;
}

.catalouge {
    text-align: center;
}

.cata2 button {
    text-decoration: none;
    background-color: rgb(0, 4, 7);
    color: #fff;
    padding: 10px;
    display: block;
    margin: 20px 100px;
}
.catalouge2 img {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: #010000;
}

.catalouge2 {
    width: 300px;
    background-color: rgb(138, 101, 53);
    margin: 10px;
    padding: 10px;
    border: #010000;
    border-radius: 50px;
}

.cata2 {
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.catalouge2 img:hover {
    background-color: rgb(236, 233, 233);
    transition: 1s all ease;
    transform: scale(1.10);
    border-radius: 20px;
}

.catalouge2 {
    text-align: center;
}

.cata a {
    text-decoration: none;
    background-color: rgb(0, 4, 7);
    color: #fff;
    padding: 10px;
    display: block;
    margin: 20px 100px;
}
.search {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 25px;
}

.search input {
    width: 350px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
}
.hh{
    text-align: center;
    font-size: larger;
    padding: 10px;
    color: #fff;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cart1 .items img{
    width: 200px;
    height: 200px;
    filter: drop-shadow(0 50px 20px #0009);
}
.cart1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.cart1 .items{
    background-color: burlywood;
    padding: 20px;
    border-radius: 20px;
}
.cart1 .items button{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    align-items: center;
    margin-top: 10px;
    border: none;
}
.mainevent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    max-width: 1200px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;

}
.events{
    flex:1;
    min-width: 300px;
    flex-direction: column;
    gap: 20px;
    display: flex;
}
.eventcard{
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    background-color: burlywood;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
.form{
    flex:1;
    min-width: 300px;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: absolute;
    top: 135px;
    right: 20px;
}

input{
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}
.b2{
    width:30%;
    padding: 10px;
    background-color: #0e0d0d;
    border-radius:20px ;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    color: #fff;
}
.b2:hover{
    background-color: #121212;
}
p{
    color: #010000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.see{
    font-style: italic;
    text-align: center;
    color: rgb(233, 233, 240);
    margin-bottom: 25px;
    font-family: italic;
    text-size-adjust: 80px;
}